body{
     position: relative;
     text-align: center;
     width: 100%;
     height: 100%;
     font-family: 'Cabin Sketch', cursive;
     min-width: 45rem;
     background-color: rgb(175, 35, 35);
}

h1{
     font-size: 4rem;
     font-weight: 400;
     margin-bottom: 1.5rem;
     margin-top: .25rem;
     color:orange;
}

#container{
     position: relative;
     display: inline-block;
     margin: 0 0;
     max-width: 45rem;
}

.block{
     display: inline-block;
     content: "";
     box-sizing: border-box;
     margin: 0 0;
     padding: 0 0;
     border: 1px solid black;
     background-color:  white;
     border-right-width: 0;
     border-bottom-width: 0;
     font-size: 0;
}

.row{
     margin: 0;
     padding: 0;
     font-size: 0;
}

.border-right{
     border-right-width: 1px;
}

.border-bottom{
     border-bottom-width: 1px;
}

button{
     font-family: 'Gloria Hallelujah', cursive;
     font-size: 1.5rem;
     font-weight: 400;
     color: rgb(3, 3, 3);
     background-color: white;
     padding: .5rem 1rem;
     margin: .5rem .5rem;
     border: 2px solid rgb(48, 48, 48);
     transition: all ease 0.3s;
}

.activated{
     box-shadow: 0 0 1px yellow,
                 0 0 2px yellow,
                 0 0 3px yellow,
                 0 0 4px yellow,
                 0 0 5px yellow;
}

#screen{
     position: absolute;
     top: -3%;
     width: 120%;
     height: 117%;
     left: -10%;
     content: "";
     background-color: rgb(168, 168, 168);
     z-index: -1;
     min-width: 45rem;
     border-radius: 10px;
     border: 1px solid rgb(68, 68, 68);
}

.knob{
     position: absolute;
     background: #868686;
     background: -webkit-radial-gradient(hsl(0, 0%, 53%), hsl(0, 0%, 43%));
     background: radial-gradient(hsl(0, 0%, 53%), hsl(0, 0%, 43%)); /* Standard syntax */
     border: solid 1px hsl(0, 0%, 12%);
     border-radius: 100%;
     height: 7rem;
     width: 7rem;
     top: 100%;
     z-index: 0;
     outline: none;
     content: "";
     box-shadow: inset 0 1px 0 hsl(0, 0%, 53%),
                       0 2px 0 hsl(0, 0%, 20%),
                       0 3px 0 hsl(0, 0%, 18%),
                       0 4px 0 hsl(0, 0%, 16%),
                       0 5px 0 hsl(0, 0%, 14%);
}

.left{
     left: -30%;
}

.right{
     right: -30%;
}